#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem;
  text-align: center; */
}

.logo {
  height: 130px;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.card-body {
  background-color: rgba(255, 255, 255, 0.9) !important;
  color: #212529;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.giftIdeas .slick-next,
.giftIdeas .slick-prev {
  position: absolute;
  top: 50%;
  display: block !important;
  width: 20px;
  height: 20px;
  transform: translate(0, -50%);
  cursor: pointer;
  color: #ADB5BD;
}

.giftIdeas .slick-next:hover,
.giftIdeas .slick-prev:hover {
  color: #495057 !important;
}

.giftIdeas .slick-prev,.giftIdeas .slick-next{
  top: 105%;
}
.giftIdeas .slick-next {
  right: 47%;
}
.giftIdeas .slick-prev {
  left: 47%;
}
.giftIdeas .slick-next:before, .giftIdeas .slick-prev:before{
  font-size: 30px;
  color: #495057;
}
/* For mobile screen sizes (below 768px) */
@media (max-width: 767px) {
  .giftIdeas .slick-next {
    right: 30%; /* For mobile screens */
  }

  .giftIdeas .slick-prev {
    left: 30%; /* For mobile screens */
  }
}


.footer a{
  text-decoration: underline;
}

.text-muted{
  color: rgba(255, 255, 255, 0.7) !important
}