@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Sen", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav li a {
  color: rgba(255, 255, 255, 0.55);
}

nav li a:hover {
  color: rgba(255, 255, 255, 0.75);
}

